body{
    background-color:black;
}
#main-navbar .navbar-brand{
    color: red;
    font-size: 1.5rem;
}
#main-navbar .nav-link:hover{
    color: red;
}
.card{
    margin-top: 0.3rem;
}
.list-group-item{
    text-decoration: none;
    color: black;
}

.card{
    display: inline-block;
}
img{
    width:18rem;
}